

.menu {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background: #000000;
    padding: 10px 10px;
    font-weight: normal;
    font-size: 23px;
    color: #ffffff;

}
.menu-left{
    display: flex;
    list-style: none;
    gap: 20px;
}
.menu-right{
    display: flex;
    align-items: center;
}
.fa-regular, .far {
     font-weight: 900;
}
.fa-solid, .fa-heart {
    padding-right: 10px;
}

.menu div:hover {
    cursor: pointer;
}

.logo{
    width: 14%;
    height: auto;
}
.span1:before{
    content:"|";
    margin-right: 10px;
    margin-left: 10px;
}
