.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.item {
    
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    
  }
  

  .item img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .item button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .item button:hover {
    opacity: 0.7;
  }