.footer {
    display: flex;
    justify-content: space-around;
    padding: 60px;
    background: black;
    color: #ffffff;
    font-size: larger;
    text-align: center;
    line-height: 1.6;    
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    cursor: pointer;
    
}