.footer {
    background: rgb(241, 241, 241);
    color: #686666;
    font-size: larger;
    text-align: center;
    line-height: 1.6;
    padding-top: 40px;
    padding-bottom: 30px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    cursor: pointer;
    margin-top: 20px;
}