
.home{
    background-color: black;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banner {
    width: 100%;
   
}
h1{
    font-size: 80px;
    color: white;
    position: relative;
    left: 45%;
    top: 50%;
}
